html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.body--first-slide {
  background-color: #849d8f;
}

.body--second-slide {
  background-color: #8996a6;;
}

.body--third-slide {
  background-color: #9d8b84;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:focus,
a:active {
  color: #ffbc9e;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1146px;
  margin: 0 auto;
}

.main-header {
  padding-top: 9px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 63px;
}

.main-nav__login {
  margin-left: 10px;
}

.main-nav__logo {
  width: 154px;
  height: 64px;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  width: 270px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-wrap: wrap;
}

.main-nav__list:last-child {
  margin-top: 14px;
}

.cart {
  margin-left: 9px;
  padding-bottom: 10px;
}

.site-nav {
  padding: 0;
  list-style: none;
  line-height: 18px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 500px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.site-nav__item-special {
  position: relative;
}

.site-nav__item-special:hover .site-nav__submenu {
  display: block;
}

.site-nav__link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 18px;
}

.site-nav__item {
  padding: 7px 14px;
  border-radius: 15px;
}

.site-nav__item:hover .site-nav__link {
  border-bottom: none;
  color: #323232;
}

.site-nav__item:hover {
  background-color: #f7f6f3;
}

.site-nav__item:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px #696969;
          box-shadow: inset 0 2px 1px #696969;
}

.site-nav__submenu {
  margin: 0;
  list-style: none;
  padding: 0;
  width: 143px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  position: absolute;
  z-index: 5;
  left: -7px;
  top: 34px;
  display: none;
}

.site-nav__submenu-item--special {
  padding: 9px 0 10px 15px;
  margin-left: 6px;
  margin-right: 9px;
  border-bottom: 1px solid #d1d0ce;
}

.site-nav__submenu-link {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.site-nav__submenu-link--special {
  font-weight: 700;
}

.site-nav__submenu-link:not(.site-nav__submenu-link--special) {
  padding: 10px 0 8px 20px;
  display: block;
}

.site-nav__submenu-link:focus:not(.site-nav__submenu-link--special),
.site-nav__submenu-link:hover:not(.site-nav__submenu-link--special) {
  background-color: #fbded7;
  color: #323232;
}

.site-nav__submenu-link--active {
  background-color: #d07058;
  color: #ffffff;
}

.site-nav__submenu-link:active:not(.site-nav__submenu-link--special) {
  background-color: #f6b5a5;
}

.main-nav__search {
  position: relative;
  padding-bottom: 10px;
}

.main-nav__search:hover .main-nav__search-container {
  display: block;
}

.main-nav__search-link {
  width: 33px;
  height: 33px;
  display: block;
  border-radius: 50%;
  position: relative;
}

.main-nav__search-link:hover,
.main-nav__search-link:focus {
  background-color: #f8f7f4;
}

.main-nav__search-link:hover .main-nav__search-svg,
.main-nav__search-link:focus .main-nav__search-svg {
  fill: #323232;
}

.main-nav__search-svg {
  position: absolute;
  top: 8px;
  left: 8px;
}

.main-nav__search-container {
  width: 341px;
  padding: 20px 15px;
  display: none;
  position: absolute;
  right: 0;
  top: 35px;
  z-index: 5;
}

.main-nav__search-link:hover .main-nav__search-container {
  display: block;
}

.user-nav__login,
.cart__link {
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 8px 17px 7px 45px;
}

.main-nav__search-link,
.user-nav__login,
.cart__link {
  background-color: rgba(255, 255, 255, 0.2);
}

.input {
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding: 13px 0 13px 15px;
}

.input:hover,
.input:focus {
  border: 1px solid rgba(154, 154, 154, 0.52);
}

.input:active {
  border: 1px solid rgba(46, 136, 228, 0.52);
}

.main-nav__search-input {
  width: 100%;
}

.main-nav__search-container,
.user-nav__login-form {
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
}

.user-nav {
  position: relative;
  padding-bottom: 10px;
}

.user-nav__login {
  position: relative;
}

.user-nav__login:hover,
.user-nav__login:focus {
  background-color: #f8f7f4;
  color: #323232;
}

.user-nav__svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.user-nav__login:hover .user-nav__svg,
.user-nav__login:focus .user-nav__svg {
  fill: #323232;
}

.user-nav:hover .user-nav__login-form {
  display: block;
}

.user-nav__login-form {
  width: 277px;
  padding: 20px 17px 22px 19px;
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 5;
}

.user-nav__login-form p {
  margin: 0;
  margin-bottom: 18px;
}

.user-nav__login-form p:last-child {
  margin: 0;
  margin-left: 20px;
}

.user-nav__login-input {
  width: 100%;
}

.button {
  font-size: 18px;
  line-height: 24px;
  border: none;
  -webkit-box-shadow: 0 1px 2px #ac1000;
          box-shadow: 0 1px 2px #ac1000;
  background-color: #e94f37;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image: -o-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  color: #fefefe;
  border-radius: 50px;
  cursor: pointer;
}

.button:hover,
.button:focus {
 background-image: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
 background-image: -webkit-linear-gradient(#f58669, #ec6f5e);
 background-image: -o-linear-gradient(#f58669, #ec6f5e);
 background-image: linear-gradient(#f58669, #ec6f5e);
 -webkit-box-shadow: 0px 1px 2px 0px #ac1000;
         box-shadow: 0px 1px 2px 0px #ac1000;
 color: white;
}

.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px #ac1000;
          box-shadow: inset 0 2px 2px #ac1000;
}

.user-nav__login-button {
  padding: 5px 25px;
  min-height: 44px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 100px;
}

.user-nav__login-link {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.user-nav__login-link:hover,
.user-nav__login-link:focus,
.user-nav__login-link:active {
  color: #e84d37;
  border-bottom-color: rgba(232, 77, 55, 0.3);
}

.user-nav__login-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__link {
  position: relative;
}

.cart__link::before {
  position: absolute;
  content: '';
  background-image: url('../img/cart.svg');
  width: 21px;
  height: 20px;
  background-repeat: no-repeat;
  left: 16px;
  top: 6px;
}

.cart__link:hover::before,
.cart__link:focus::before {
  background-image: url('../img/cart-red.svg');
}

.cart__link--active {
  position: relative;
}

.cart__link--active::before {
  background-image: url('../img/cart-red.svg');
}

.cart__link:hover,
.cart__link:focus,
.cart__link--active {
  background-color: #f8f7f4;
  color: #323232;
}

.main-nav__schedule {
  margin-top: 8px;
  text-align: right;
}

.main-nav__schedule-days {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 3px;
}

.main-nav__schedule-phone {
  font-size: 22px;
  line-height: 24px;
  margin: 0;
}

.slider {
  position: relative;
  background-repeat: no-repeat;
  padding-bottom: 42px;
  padding-top: 320px;
  min-height: 575px;
}

.slider::before {
  position: absolute;
  content: '';
  width: 1056px;
  height: 859px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -73px;
  z-index: -1;
  -webkit-transition: background-image 0.3s;
  -o-transition: background-image 0.3s;
  transition: background-image 0.3s;
}

.slider--first.slider::before {
  background-image: url('../img/slide-1.png');
  -webkit-transition: background-image 0.3s;
  -o-transition: background-image 0.3s;
  transition: background-image 0.3s;
}

.slider--second.slider::before {
  background-image: url('../img/slide-2.png');
  -webkit-transition: background-image 0.3s;
  -o-transition: background-image 0.3s;
  transition: background-image 0.3s;
}

.slider--third.slider::before {
  background-image: url('../img/slide-3.png');
  -webkit-transition: background-image 0.3s;
  -o-transition: background-image 0.3s;
  transition: background-image 0.3s;
}

.slider__list {
  position: relative;
}

.slider__item {
  position: absolute;
  left: 237px;
  display: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.slider__item--active {
  display: block;
}

.slider__inputs {
  padding-top: 170px;
}

.slider__title {
  width: 675px;
  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.slider__button {
  font-size: 32px;
  line-height: 44px;
  padding: 10px 41px;
  max-width: 281px;
  display: block;
  margin: 0 auto;
}

.slider__input:focus + .slider__label {
  outline-width: 2px;
  outline-style: solid;
  outline-color: Highlight;
}

.slider__input:hover + .slider__label {
  background-color: rgba(248, 247, 244, 0.4);
}

.slider__input:checked + .slider__label {
  background-color: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.slider__label {
  display: inline-block;
  vertical-align: top;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  margin-right: 5px;
}

.slider__label:last-child {
  margin-right: 0;
}

.offers {
  margin-bottom: 40px;
}

.offers__caption {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-bottom: 15px;
}

.offers__descript {
  font-size: 18px;
  margin: 0;
  text-align: left;
  margin-bottom: 45px;
}

.offers__list {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers__button {
  padding: 10px 22px;
  display: block;
  margin-left: auto;
}

.offers__button--razz {
  width: 165px;
}

.offers__button--chocolate {
  width: 191px;
}

.offers__item {
  width: 560px;
  padding: 16px 20px 23px;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.offers__item--first {
  background-color: #c33e5c;
  background-image: url(../img/razz.jpg);
  background-size: cover;
}

.offers__item--second {
  background-color: #6C4936;
  background-image: url(../img/chocolate.jpg);
  background-size: cover;
}

.goods {
  margin-bottom: 38px;
}

.goods__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -26px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product__price {
  font-size: 45px;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  margin: 0;
  left: -1px;
  position: absolute;
  top: 210px;
  padding-bottom: 15px;
  z-index: 2;
}

.product__price span:last-child {
  font-size: 30px;
}

.product__price span:first-child {
  margin-left: -7px;
}

.product__caption {
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  max-width: 258px;
  position: relative;
  z-index: 5;
}

.product__caption-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.product__caption-link:hover,
.product__caption-link:active {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.3);
}

.product {
  width: 267px;
  position: relative;
  margin-left: 26px;
}

.product img {
  width: 267px;
  height: 267px;
  margin-bottom: 8px;
}

.product::before {
  position: absolute;
  content: '';
  background-image: url('../img/hit.svg');
  width: 61px;
  height: 61px;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: 2;
}

.product::after {
  position: absolute;
  content: '';
  width: 277px;
  height: 125%;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(248, 247, 244, 0.2);
  left: -5px;
  top: -5px;
  border-radius: 4px;
  z-index: 1;
  display: none;
}

.product:hover::after {
  display: block;
}

.product:hover .product__button {
  display: block;
}

.product__button {
  display: block;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 17px;
  text-align: center;
  margin: 0 auto;
  display: none;
  position: absolute;
  bottom: -50px;
  left: 13%;
  z-index: 2;
}

.features {
  margin-bottom: 40px;
}

.features__pattern {
  width: 100%;
  padding: 25px 28px 0px 22px;
  color: #323232;
  background-color: #ECDFBF;
  background-image: url('../img/pattern.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 21px;
}

.features__item {
  width: 476px;
  margin-bottom: 23px;
  font-weight: 400;
  margin-left: 55px;
  position: relative;
}

.features__item::before {
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  width: 49px;
  height: 49px;
  left: -56px;
  top: -13px;
}

.features__item--first::before {
  background-image: url('../img/ice-cream.svg');
}

.features__item--second::before {
  background-image: url('../img/cow.svg');
}

.features__item--third::before {
  background-image: url('../img/eco.svg');
}

.features__item--fourth::before {
  background-image: url('../img/thermometer.svg');
}

.blog {
  width: 560px;
  min-height: 220px;
  padding: 24px 250px 0 20px;
  border-radius: 15px;
  background-color:#E5EBCF;
  background-image: url('../img/stawberry.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #323232;
}

.blog__title {
  line-height: 22px;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 4px;
}

.blog__descript {
  margin: 0;
  color: inherit;
  font-size: 24px;
  line-height: 30px;
  border-bottom: 2px solid #323233;
}

.blog__descript:hover,
.blog__descript:focus,
.blog__descript:active {
  color: #e84d37;
  border-bottom-color: rgba(232, 77, 55, 0.3);
}

.mailing {
  background-color: #F8F7F4;
  background-image: url('../img/mailing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 560px;
  color: #5a5a5a;
  border-radius: 15px;
  padding: 5px;
}

.mailing__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mailing__container {
  width: 549px;
  border-radius: 15px;
  background-color: #f8f7f4;
  padding: 30px 20px 35px;
}

.mailing__text {
  font-weight: 400;
  margin: 0;
  margin-bottom: 35px;
}

.mailing__input {
  width: 368px;
}

.mailing__button {
  padding: 10px 19px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 37px;
}

.map {
  position: relative;
  margin-bottom: 18px;
}

.map .wrapper {
  position: relative;
}

.map__img-container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 430px;
}

.map__img-container::before {
  position: absolute;
  content: '';
  background-image: url('../img/map-icon.svg');
  width: 80px;
  height: 140px;
  top: 33%;
  left: 23%;
}

.map__img-container--no-icon.map__img-container::before {
  display: none;
}

.map__iframe {
  width: 1200px;
  height: 430px;
  position: absolute;
}

.map__img {
  height: 430px;
  cursor: pointer;
}

.map__address {
  color: #323232;
  width: 302px;
  background-color: #ffffff;
  padding: 25px 25px 30px;
  border-radius: 10px;
  position: absolute;
  bottom: 65px;
  right: 0;
}

.map__address span {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.map__street,
.map__phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.map__text {
  margin: 0;
}

.map__street .map__text {
  max-width: 150px;
}

.map__phone {
  margin-bottom: 27px;
}

.map__street {
  margin-bottom: 20px;
}

.map__button {
  display: block;
  padding: 10px 27px;
}

.feedback {
  position: fixed;
  margin-left: -239px;
  top: 10%;
  left: 50%;
  display: none;
  z-index: 55;
}

.feedback--showed {
  display: block;
  -webkit-animation: bounce 0.25s;
          animation: bounce 0.25s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.feedback--shake {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.feedback p {
  margin: 0;
  margin-bottom: 20px;
}

.feedback p:last-child {
  margin-bottom: 25px;
}

.feedback__form {
  width: 478px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 10px;
  padding: 15px 25px 27px 24px;
}

.feedback__title {
  font-size: 24px;
  line-height: 28px;
  font-size: 500;
  margin: 0;
  margin-bottom: 21px;
}

.feedback__input-name,
.feedback__input-email {
  width: 267px;
  padding: 12px 0 12px 15px;
}

.feedback__input-text {
  width: 428px;
  min-height: 155px;
}

.feedback__button {
  padding: 10px 24px;
  display: block;
  margin-left: auto;
}

.feedback__button-close {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 3px;
  background-color: transparent;
  border: none;
  right: 17px;
  cursor: pointer;
}

.feedback__button-close::before,
.feedback__button-close::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 22px;
  background-color: #323232;
}

.feedback__button-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.feedback__button-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.footer {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 22px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-link {
  width: 38px;
  height: 38px;
  display: block;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.footer__social-link:hover,
.footer__social-link:focus,
.footer__social-link:active {
  border-bottom-color: (255, 255, 255, 0.7)
}

.footer__social-link:hover .footer__social-svg,
.footer__social-link:focus .footer__social-svg {
  fill: #fff;
}

.footer__social-link:active .footer__social-svg {
  fill: #e9e9e9;
}

.footer__social,
.footer__us {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__social-svg {
  fill: rgba(255, 255, 255, 0.8);
}

.footer__social {
  margin-top: 18px;
}

.footer__social-item {
  margin-right: 11px;
}

.footer__social-item:last-child {
  margin-right: 214px;
}

.footer__us {
  width: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  margin-top: 15px;
}

.footer__us-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__us-link:hover,
.footer__us-link:focus,
.footer__us-link:active {
  border-bottom-color: rgba(255, 188, 158, 0.3);
}

.footer__us-item--heart {
  position: relative;
}

.footer__us-item--heart::before {
  position: absolute;
  content: '';
  background-image: url('../img/heart.svg');
  width: 15px;
  height: 13px;
  left: -22px;
  bottom: 2px;
}

.footer__us-item {
  margin-bottom: 4px;
}

.footer__us-item:last-child {
  margin-bottom: 0;
}

.footer__info {
  width: 140px;
  padding-left: 23px;
}

.footer__documents {
  width: 170px;
  margin-left: 25px;
}

.footer__copyright {
  margin-left: auto;
}

.footer__copyright-img {
  margin-bottom: 1px;
  width: 108px;
  height: 38px;
}

.footer__copyright-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__copyright-link:hover,
.footer__copyright-link:focus,
.footer__copyright-link:active {
  border-bottom-color: rgba(255, 188, 158, 0.3);
}

.footer__copyright-text {
  margin: 0;
}


/*Стилизация каталога*/

.body-catalog {
  background: -webkit-gradient(linear, left top, left bottom, from(#9cb0a5),color-stop(7%, #9aaea3),color-stop(37%, #859d8f),to(#859d8f));
  background: -webkit-linear-gradient(top, #9cb0a5 0%,#9aaea3 7%,#859d8f 37%,#859d8f 100%);
  background: -o-linear-gradient(top, #9cb0a5 0%,#9aaea3 7%,#859d8f 37%,#859d8f 100%);
  background: linear-gradient(to bottom, #9cb0a5 0%,#9aaea3 7%,#859d8f 37%,#859d8f 100%);
}

.main-header--catalog {
  margin-bottom: 28px;
}

.cart {
  position: relative;
}

.cart__container {
  position: absolute;
  right: 0;
  top: 30px;
  width: 540px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 5;
  color: #323232;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  border-radius: 5px;
  padding: 16px 14px 18px 13px;
  display: none;
}

.cart:hover .cart__container {
  display: block;
}

.cart__table {
  width: 513px;
}

.cart__table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}

.cart__remove-btn {
  width: 11px;
  height: 11px;
  background-color: transparent;
  margin-top: 10px;
  position: relative;
  border: none;
  cursor: pointer;
}

.cart__remove-btn::before,
.cart__remove-btn::after {
  position: absolute;
  content: '';
  height: 14px;
  width: 1px;
  background-color: #323232;
  top: -2px;
}

.cart__remove-btn::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cart__remove-btn::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cart__good-img {
  width: 33px;
  height: 33px;
  margin-left: 12px;
}

.cart__good-title {
  margin: 0;
  margin-left: 10px;
  width: 220px;
}

.cart__good-weight {
  margin: 0;
  margin-left: 33px;
}

.cart__good-weight span {
  color: #999999;
}

.cart__good-price {
  margin: 0;
  margin-left: 25px;
}

.cart__good-title,
.cart__good-weight,
.cart__good-price {
  margin-top: 10px;
}

.cart__good-amount {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.cart__table-position {
  margin-left: auto;
  display: inline;
}

.cart__button {
  padding: 10px 15px;
  min-width: 170px;
}

.cart__button-container {
  margin-bottom: 0;
}

.cart__button-container td {
  margin-left: auto;
  text-align: right;
}

.cart__good-item--last {
  position: relative;
  margin-bottom: 30px;
}

.cart__good-item--last::after {
  position: absolute;
  content: '';
  bottom: -17px;
  width: 100%;
  left: 0;
  height: 1px;
  background-color: #cacac7;
}

.catalog-main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.bread-crumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
}

.bread-crumbs__item {
  margin-right: 21px;
  position: relative;
}

.bread-crumbs__item:last-child {
  margin-right: 0;
}

.bread-crumbs__item::after {
  position: absolute;
  content: '»';
  top: 0;
  right: -15px;
}

.bread-crumbs__item:last-child::after {
  display: none;
}

.site-nav__item--active {
  background-color: #d07058;
}

.site-nav__link--active {
  border-bottom: none;
}

.bread-crumbs__link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.bread-crumbs__link:hover,
.bread-crumbs__link:focus,
.bread-crumbs__link:active {
  border-bottom-color: rgba(255, 188, 158, 0.3);
}

.catalog-main__title {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 25px;
}

.filter {
  margin-bottom: 25px;
}

.filter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter__item {
  border: none;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-right: 14px;
  margin-bottom: 12px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__legend {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
  margin-left: 16px;
}

.filter__container:not(:first-child) {
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 20px;
}

.filter__sorting,
.filter__range-price {
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.filter__select {
  position: relative;
}

.filter__select::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 11px solid #fff;
  top: 13px;
  right: 15px;
}

.filter__sorting {
  padding: 9px 0px 9px 14px;
  background-color: rgba(248, 247, 244, 0);
  border-radius: 20px;
  width: 194px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter__sorting::-ms-expand {
    display: none;
}

.filter__select:hover::before,
.filter__select:focus::before {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 11px solid #333333;
}

.filter__sorting:hover,
.filter__sorting:focus {
  background-color: #ffffff;
  color: #323232;
}

.filter__range-price {
  width: 30px;
  margin-left: 2px;
}

.filter__range-span {
  margin-left: -2px;
}

.filter__item-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 4px;
}

.filter__item-flex .filter__legend {
  margin: 0;
  margin-left: 16px;
}

.filter__range {
  width: 220px;
  padding: 17px 22px;
}

.filter__range-strip {
  width: 176px;
  height: 4px;
  background-color: rgba(248, 247, 244, 0.5);
  position: relative;
}

.filter__range-bar {
  width: 107px;
  height: 4px;
  background-color: #f8f7f4;
  position: absolute;
  left: 16px;
}

.filter__range-handle {
  width: 20px;
  height: 22px;
  border-radius: 50%;
  background-color: #f8f7f4;
  top: -9px;
  position: absolute;
  cursor: pointer;
}

.filter__range-handle::before {
  width: 4px;
  height: 4px;
  background-color: #b1b1b1;
  position: absolute;
  border-radius: 50%;
  content: '';
  z-index: 2;
  top: 9px;
}

.filter__range-handle--min::before {
  left: 8px;
}

.filter__range-handle--max::before {
  right: 8px;
}

.filter__range-handle--min {
  left: 13px;
}

.filter__range-handle--max {
  right: 45px;
}

.filter__fat-list,
.filter__filling-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__fat {
  min-width: 415px;
  padding: 8px 15px 8px 44px;
}

.filter__fat-item {
  margin-right: 50px;
}

.filter__fat-item:last-child {
  margin-right: 0px;
}

.filter__fat-label {
  position: relative;
  cursor: pointer;
}

.filter__fat-label::before {
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  left: -31px;
  cursor: pointer;
}

.filter__fat-label::after {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  position: absolute;
  content: '';
  cursor: pointer;
  top: 6px;
}

.filter__fat-label:hover::after {
  background-color: rgba(255, 255, 255, 1);
}

.filter__fat-label:hover::before {
  border: 3px solid rgba(255, 255, 255, 1);
}

.filter__fat-label::after {
  left: -24px;
  border: 3px solid rgba(255, 255, 255, 1);
  display: none;
}

.filter__fat-radio:focus + .filter__fat-label::before {
  outline-width: 2px;
  outline-style: solid;
  outline-color: Highlight;
}

.filter__fat-radio:disabled + .filter__fat-label::before {
  opacity: 0.4;
}

.filter__fat-radio:checked + .filter__fat-label::after {
  display: block;
}

.filter__filling {
  min-width: 703px;
  padding: 8px 20px 8px 48px;
}

.filter__filling-item {
  margin-right: 53px;
}

.filter__filling-item:last-child {
  margin-right: 0;
}

.filter__filling-label {
  position: relative;
  cursor: pointer;
}

.filter__filling-label::before {
  position: absolute;
  content: '';
  background-image: url('../img/checkbox-off.svg');
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  left: -33px;
  opacity: 0.8;
}

.filter__filling-label:hover::before {
  opacity: 1;
}

.filter__filling-checkbox:focus + .filter__filling-label::before {
  outline-width: 2px;
  outline-style: solid;
  outline-color: Highlight;
}

.filter__filling-checkbox:disabled + .filter__filling-label::before {
  opacity: 0.4;
}

.filter__filling-checkbox:checked + .filter__filling-label::before {
  background-image: url('../img/checkbox-on.svg');
  width: 24px;
  height: 20px;
}

.filter__button {
  min-width: 144px;
  padding: 8px 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-height: 37px;
  border-radius: 20px;
  background-color: rgba(248, 247, 244, 0.2);
  border: 2px solid #ffffff;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  text-align: center;
  margin-top: 9px;
  cursor: pointer;
}

.filter__button:hover,
.filter__button:focus {
  background-color: #ffffff;
  color: #323232;
}

.filter__button:active {
  -webkit-box-shadow: inset 0 2px 1px #696969;
          box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  border: none;
}

.catalog-main .product::before {
  display: none;
}

.catalog-main .product {
  margin-bottom: 40px;
}

.catalog-main .goods__list {
  margin-bottom: 35px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__button {
  width: 8px;
  height: 12px;
  background-color: #ffffff;
}

.pagination__link {
  line-height: 18px;
  font-weight: 500;
  display: block;
  padding: 6px 10px;
  border-radius: 50%;
}

.pagination__link:hover,
.pagination__link:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.pagination__link:active {
  background-color: #ffffff;
  color: #323232;
}

.pagination__link--active {
  background-color: #ffffff;
  color: #323232;
}

.pagination__button {
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.pagination__button::before,
.pagination__button::after {
  position: absolute;
  content: '';
  top: 0;
  height: 9px;
  width: 1px;
  background-color: #ffffff;
  right: 3px;
}

.pagination__button--prev::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.pagination__button--prev::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 4px;
}

.pagination__button--prev::before,
.pagination__button--prev::after {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination__button--next::before {
  -webkit-transform: rotate(125deg);
      -ms-transform: rotate(125deg);
          transform: rotate(125deg);
}

.pagination__button--next::after {
  -webkit-transform: rotate(-125deg);
      -ms-transform: rotate(-125deg);
          transform: rotate(-125deg);
  top: 4px;
}

.pagination__button--prev {
  margin-right: 15px;
}

.pagination__button--next {
  margin-left: 15px;
}

.catalog-main .goods {
  margin-bottom: 45px;
}

.footer-catalog .wrapper {
  position: relative;
}

.footer-catalog .wrapper::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  top: -18px;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 50;
  cursor: pointer;
}
